In [77]:
%load_ext google.cloud.bigquery

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information form over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 13 years ago. So if today is 2022.02.15 then the weather we want to forecast is for the date 2009.02.16. You are suppsed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to used BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is, to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck at the first part, you can use the replacement data provided in the second part

In [78]:
%%bigquery --project learnings-coding-challenge 
SELECT 
*
FROM `bigquery-public-data.samples.gsod`
LIMIT 20

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 604.41query/s]
Downloading: 100%|██████████| 20/20 [00:01<00:00, 11.16rows/s]

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,36010,99999,1929,11,14,42.000000,4,40.200001,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
1,37950,99999,1929,12,28,39.700001,4,38.299999,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
2,38560,99999,1930,6,29,58.500000,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
3,39730,99999,1930,5,26,54.000000,4,49.000000,4.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
4,36010,99999,1930,4,28,53.700001,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
5,39530,99999,1931,3,18,50.799999,4,47.400002,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
6,38640,99999,1931,5,17,51.500000,4,46.900002,4.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
7,726810,24131,1931,9,4,79.900002,24,39.000000,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
8,726810,24131,1931,12,2,18.500000,24,13.800000,8.0,NaN,...,NaN,None,0.0,NaN,True,True,True,True,True,True
9,726810,24131,1931,11,8,54.799999,24,32.200001,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
10,726810,24131,1931,1,29,33.900002,24,29.799999,6.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
11,103840,99999,1932,12,11,26.500000,4,25.000000,4.0,NaN,...,NaN,None,0.0,NaN,True,True,True,True,True,True
12,726810,24131,1932,1,4,25.100000,24,22.100000,8.0,NaN,...,NaN,None,NaN,NaN,True,True,True,True,True,True
13,726815,24106,1932,4,8,44.599998,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
14,726815,24106,1932,10,28,45.599998,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
15,726810,24131,1932,5,30,55.599998,24,41.900002,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
16,726810,24131,1932,12,6,28.799999,24,18.400000,6.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
17,726815,24106,1932,1,24,15.400000,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
18,726810,24131,1932,8,26,73.099998,24,41.599998,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
19,726810,24131,1932,9,14,66.699997,24,35.099998,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2005 till 2009 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

For the bigquery magic decorator to work we need to define a project (it somehow does not work otherwise). By putting a name after the decorator, the query result is automatically saved into a pandas.DataFrame object.
We retrieve all columns that fulfill the conditions posed in the task and create an additional column called *date* that contains the date in *'Y-M-D'* format. The *BETWEEN* operator is inclusive and thus stations 725300 and 726300 are included in the table returned.

In [86]:
%%bigquery df --project learnings-coding-challenge
SELECT 
*, 
DATE(year, month, day) AS date
FROM `bigquery-public-data.samples.gsod`
WHERE year BETWEEN 2005 AND 2009
AND station_number BETWEEN 725300 AND 726300

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 837.52query/s]
Downloading: 100%|██████████| 377784/377784 [00:07<00:00, 49310.06rows/s]

### 2. Task 
From here want to work with the data from all stations 725300 to 725330 that have information from 2005 till 2009.

From here continue using Python - more specifically using pandas to manipulate the DataFrame we just retrieved.

In [95]:
#only keep data where station_number is within given range
relevant_stations = df[(df['station_number']>725299)&(df['station_number']<725331)]
#only keep data of stations that have data in each year
# years = 5
sn_years = relevant_stations[['station_number', 'year']].groupby(['station_number']).nunique()
#only keep the stations where count of years == years
stations_all_years = list(sn_years[sn_years['year']==5].index)
final = relevant_stations[relevant_stations['station_number'].isin(stations_all_years)]

377784
        station_number  wban_number  year  month  day  mean_temp  \
129             725326        99999  2005      1   22  19.000000
278             725316        99999  2006      7   18  85.900002
318             725326        99999  2006      9   15  63.400002
336             725326        99999  2006      8    7  76.599998
426             725326        99999  2006      7   25  78.300003
...                ...          ...   ...    ...  ...        ...
377750          725320        14842  2005      6   23  81.900002
377751          725330        14827  2005      5   23  60.799999
377771          725330        14827  2005     10   24  43.599998
377779          725300        94846  2006      3   18  31.500000
377781          725320        14842  2006      1   24  35.299999

        num_mean_temp_samples  mean_dew_point  num_mean_dew_point_samples  \
129                        24       13.000000                        24.0
278                        15       71.800003                        15.0
318                        24       54.299999                        24.0
336                        24       68.400002                        24.0
426                        24       66.699997                        24.0
...                       ...             ...                         ...
377750                     24       61.900002                        24.0
377751                     24       52.099998                        24.0
377771                     24       39.299999                        24.0
377779                     24       16.700001                        24.0
377781                     24       27.100000                        24.0

        mean_sealevel_pressure  ...  min_temperature_explicit  \
129                        NaN  ...                      None
278                        NaN  ...                      None
318                        NaN  ...                      None
336                        NaN  ...                      None
426                        NaN  ...                      None
...                        ...  ...                       ...
377750             1017.200012  ...                      None
377751             1003.900024  ...                      None
377771             1013.400024  ...                      None
377779             1030.300049  ...                      None
377781             1013.900024  ...                      None

        total_precipitation  snow_depth    fog   rain   snow   hail  thunder  \
129                    0.00         NaN  False  False  False  False    False
278                    0.00         NaN  False  False  False  False    False
318                    0.00         NaN  False  False  False  False    False
336                    0.00         NaN  False  False  False  False    False
426                    0.00         NaN  False  False  False  False    False
...                     ...         ...    ...    ...    ...    ...      ...
377750                 0.00         NaN  False  False  False  False    False
377751                 0.00         NaN   True   True   True   True     True
377771                 0.29         NaN   True   True   True   True     True
377779                 0.00         NaN  False  False  False  False    False
377781                 0.00         NaN  False  False  False  False    False

        tornado        date
129       False  2005-01-22
278       False  2006-07-18
318       False  2006-09-15
336       False  2006-08-07
426       False  2006-07-25
...         ...         ...
377750    False  2005-06-23
377751     True  2005-05-23
377771     True  2005-10-24
377779    False  2006-03-18
377781    False  2006-01-24

[18129 rows x 32 columns]

In our case, all of the 10 stations we are interested in appear in each of the relevant years.

Do a first analysis of the remaining dataset, clean or drop data depending on how you see appropriate.

In [81]:
#what features are available 
print(relevant_stations.columns)

Index(['station_number', 'wban_number', 'year', 'month', 'day', 'mean_temp',
       'num_mean_temp_samples', 'mean_dew_point', 'num_mean_dew_point_samples',
       'mean_sealevel_pressure', 'num_mean_sealevel_pressure_samples',
       'mean_station_pressure', 'num_mean_station_pressure_samples',
       'mean_visibility', 'num_mean_visibility_samples', 'mean_wind_speed',
       'num_mean_wind_speed_samples', 'max_sustained_wind_speed',
       'max_gust_wind_speed', 'max_temperature', 'max_temperature_explicit',
       'min_temperature', 'min_temperature_explicit', 'total_precipitation',
       'snow_depth', 'fog', 'rain', 'snow', 'hail', 'thunder', 'tornado',
       'date'],
      dtype='object')

### 3. Task
Now it is time to split the data, into a training, evaluation and test set. As a reminder, the date we are trying to predict snow fall for is the following, and hence should constitute your test set.

In [91]:
import datetime as dt
#save test date to create test set in next cell
test_date = str(dt.datetime.today()- dt.timedelta(days=13*365)).split(' ')[0]
print(test_date)

'2009-06-22'

Below I split up the data into training, evaluation and test set. Test set should only contain the relevant date in question. To split up between training and evaluation set use sklearn's *test_train_split* function.

In [ ]:
from sklearn.model_selection import train_test_split

test = final[final['date']==test_date]
#ignore test date when creating training and evaluation set
#set a random state to guarantee reproducible results
train, eval = train_test_split(final[final['date']!=test_date], random_state = 2022)

## Part 2
If you made it up to here all by yourself, you can use your prepared dataset to train an Algorithm of your choice to forecast whether it will snow on the following date for each station in this dataset:

In [ ]:
import datetime as dt

str(dt.datetime.today()- dt.timedelta(days=13*365)).split(' ')[0]

You are allowed to use any library you are comfortable with such as sklearn, tensorflow keras etc. 
If you did not manage to finish part one feel free to use the data provided in 'coding_challenge.csv' Note that this data does not represent a solution to Part 1.

NOTE: try using dummy signaling snow in past 7 days as predictor (either for each day or just one dummy)